.banner {
    height: 8vh;
    background-color: rgb(119, 38, 159);
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.banner-title {
    color: aliceblue;
    margin: 0;
    font-size: 200%;
}