.user-search-fields {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 5px;
}

.user-search-fields > mat-form-field {
    padding: 5px;
    width: 100%;
}

mat-tab-group {
    padding: 15px;
}

.banner {
    height: 8vh;
    background-color: rgb(119, 38, 159);
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.banner-title {
    color: aliceblue;
    margin: 0;
    font-size: 200%;
}

.banner-buttons {
    display: flex;
}

.banner-buttons > button {
    margin-right: 10px;
}