<div class="sidenav-wrapper">
    <div class="sidenav-element">
        <p>Logo</p>
    </div>
    <div class="sidenav-element"><button mat-button color="primary">+ New Request</button></div>
    <div class="sidenav-element"><button mat-button color="primary">Requests</button></div>
    <div class="sidenav-element"><button mat-button color="primary">Agencies</button></div>
    <div class="sidenav-element"><button mat-button color="primary">Case Managers</button></div>
    <div class="sidenav-element"><button mat-button color="primary">User?</button></div>
    <div class="sidenav-element"><button (click)='companySettigns()' mat-button color="primary">Company
            Settings</button></div>
    <div class="sidenav-element"><button mat-button color="primary">Protal FAQs</button></div>
    <div class="sidenav-element"><button (click)="logout()" mat-button color="primary">Logout</button></div>
</div>