.banner {
    vertical-align:  top;
    height: 100px;
    background-color: darkorchid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
    padding: 10px;
}

.banner-text {
    color: aliceblue;
    size: 48px;
    vertical-align: middle;
}